<!DOCTYPE html>

<html>

<header>
    <title>Uploader</title>
</header>

<form>

    <input id="localFile" type="file">
    <button onclick="return upload()">Upload</button>

    <script>

        function upload() {
            fetch("/upload", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify({
                    file: document.getElementById('input').files[0]
                })
            }).then(res => {
                console.log(res);
            });

            return false
        }


        function sendFiles() {
            const imgs = document.querySelectorAll(".obj");

            for (let i = 0; i < imgs.length; i++) {
                new FileUpload(imgs[i], imgs[i].file);
            }
        }
    </script>

</form>

</html>