<!DOCTYPE html>

<html>

<header>
    <title>Uploader</title>
</header>

<form>

    <input id="fileInput" type="file">
    <button onclick="return upload()">Upload</button>

    <script>

        function upload() {
            var formdata = new FormData();
            formdata.append("avatar", fileInput.files[0]);

            var requestOptions = {
                method: 'POST',
                body: formdata,
                redirect: 'follow'
            };

            fetch("http://localhost/upload", requestOptions)
                .then(response => response.text())
                .then(result => {
                    console.log(result)
                    location.reload();
                })
                .catch(error => {
                    console.log('error', error)
                });

            return false
        }

    </script>

</form>

<% uploads.forEach(file=> { %>

    <img src="/uploads/<%= file %>" style="height: 300px;" />

    <% }) %>

</html>